
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&display=swap');

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#fff;
color:#e7a200;
}

.logo{
color:#e7a200;
display: flex;
flex-direction: row-reverse;
gap: 5px;
 
p {
    font-family:"Irish Grover", system-ui;
    color: #FEBB0F;
    font-size:40px;
}

.sweet{
    width: 70px;
}

}
.nav-links{
display:flex;
gap:30px;
list-style:none;
font-family: "inter", system-ui;
font-size: 20px;
}

.nav-icons{
display:flex;
gap:15px;
}

.search{
background:#f2b705;
border:none;
padding:8px 16px;
border-radius:20px;
cursor:pointer;

img {
    width: 10px;
}
}

@media(max-width:768px){

.nav-links{
display:none;
}

.navbar{
padding:20px;
}

.logo {
    p {
        font-size: 30px;
        /* display: none; */
    }
}

.search{
    display: none;

    img {
        display: none;
    }

    button {
        display: none;
    }
}
}
